<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %} 
  <script>
    $('#loginModal').modal(options)
  </script>
</head>
<body> 
    
<div class="container bg-success">
  <!-- The Modal -->
  <div class="modal in" id="loginModal" role="dialog" style="display:block">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header bg-warning text-center">
          <h4 class="modal-title w-100">Login to the Crows Nest</h4>
          <!--<button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
        </div>
  
        <!-- Modal body -->
        <table border='1'>
        {% for x in userAccounts %}
        <tr>
          <td>{{ x.username }}</td>
            <td>{{ x.password }}</td>
        </tr>
        {% endfor %}
        </table>
        <p> TRY ME </p>
        <div class="modal-body bg-warning">
            <div class="row no-gutters">
                <div class="col-12 m-0 p-0">
                    <img class="card-img-top" src="{% static 'image_2.png' %}" alt="Card image">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 m-0 p-0">
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="addon-wrapping">¯\_(ツ)_/¯</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap pt-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">¯\_(""~)_/¯</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">  
                    </div>
                </div>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer bg-warning">
            <div class="container">
                <div class="row">
                    <div class="col-8 float-sm-start m-0 p-0">
                        <p><small><a href="#">forgot username</a></br>
                            <a href="#">forgot password</a></br>
                            <a href="#">create account</a></small></p>
                    </div>
                    <div class="col-4 text-center">
                        <!-- Must update to not just dismiss the modal, but check login data or show an error s-->
                        <button type="button" class="btn btn-dark"  id="login" data-bs-dismiss="modal" onclick="validation()">Login</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
  
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}
</div>
<script>
    function validation() {
      document.getElementById("login").innerHTML = "Hello World";
      
    }
</script>
</body>
</html>