

{% block content %}

{% load bootstrap %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<h2> Crows Nest </h2>

{% if user.is_authenticated %}
    <h2> Hello {{ user }} </h2>
    <form action="{% url 'logout' %}" method=POST>
        {% csrf_token %}

        <!--
                THIS IS WHERE THE MAIN CONVERSION GOES
        
        -->

        <input type="submit" value="Logout" class="btn btn-secondary"/>
    </form>
{% else %}
   <h1>Login to perform actions </h1>
{% endif %}
{% endblock %}