{% block content %}

<h2> Crows Nest </h2>

{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method=POST>
        {% csrf_token %}
        <h2> Hello {{ user }} </h2>
        <!--

            ################################3

        -->
        <input type="submit" value="Logout" class="btn btn-secondary"/>
    </form>
{% else %}
    <form action="{% url 'logout' %}" method=POST>
    {% csrf_token %}
        <input type="submit" value="Login" class="btn btn-secondary"/> 
    </form>
{% endif %}
{% endblock %}